/* Estilo básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;    
    background-image: linear-gradient(24deg, #0f152b, #0d0f1a);
}

header {
    background-color: #0d0f1a;
    color: white;
    text-align: center;
    max-width: 800px;
    margin: auto;
}

footer {
    background-color: #0b0d17;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

footer a {
    display: block;
    margin-top: 15px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}


/* Estilos de imagens e vídeos */
img, video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
    border-radius: 8px;
}

.image-row {
    display: flex;
    gap: 20px; /* Espaço entre as imagens */
    justify-content: center; /* Centraliza as imagens no contêiner */
}

.image-row img {
    width: 200px; /* Define um tamanho para as imagens */
    height: auto;
    border-radius: 8px;
}



/* Tamanhos específicos para imagens */
#pais, #bella, #poker, #Raquete {
    width: 300px;
}

#eu {
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 15px auto;
}

#jogando{
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 15px auto;
}

#programando{
    width: 400px;
}

#boliche, #gspk1ng, #renzobryl {
    width: 250px;
}

#videoFut{
    max-width: 40%;
    height: auto;
}

#gspk1ng, #renzobryl{
    width: 400px;
}

#boliche {
    width: 350px;
}

h2, h3, h4, p {
    color: white;
    text-align: center;
}

h2 {
    font-size: 30px;
}

h3, h4 {
    font-size: 20px;
}

figure {
    text-align: center;
    margin: 20px;
}

figcaption {
    font-size: 0.85em;
    color: white;
    margin-top: 5px;
}

a {
    color: white;
    text-decoration: underline;
    text-underline-offset: 2px;
}

a:hover {  
    color: white;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 2px;
}